absl-py
aiofiles
aiohttp
aiosignal
altair
appdirs
asgiref
asttokens
astunparse
async-timeout
attrs
backcall
beautifulsoup4
blinker
blis
bs4
cachetools
catalogue
certifi
cffi
charset-normalizer
click
colorama
comm
confection
contourpy
cycler
cymem
debugpy
decorator
exceptiongroup
executing
Flask
flatbuffers
fonttools
frozenlist
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h11
h2
h5py
hpack
Hypercorn
hyperframe
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
keras-models
kiwisolver
langcodes
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
multidict
murmurhash
nest-asyncio
numpy
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
outcome
packaging
pandas
parso
pathlib
pathy
pickleshare
Pillow
platformdirs
preshed
priority
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydeck
pyee
pygame
Pygments
Pympler
pyparsing
pyppeteer
PySocks
python-dateutil
pytz
pytz-deprecation-shim
pywin32
pyzmq
Quart
quart-cors
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
selenium
six
smart-open
smmap
sniffio
sortedcontainers
sounddevice
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
streamlit
taskgroup
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thinc
toml
tomli
toolz
tornado
tqdm
traitlets
trio
trio-websocket
typer
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
validators
virtualenv
wasabi
watchdog
wcwidth
websockets
Werkzeug
wrapt
wsproto
yarl
zipp
